body {
  margin: 0;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beatbox {
  max-width: 600px; /*600px;*/
  width: fit-content;
  max-height: 600px;
  height: 60vh;
  min-height: 500px;
  background: rgb(47, 52, 53);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.beat {
  width: 150px;
  height: 150px;
  flex-basis: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2pdx solid yellow;
}

.beat .button {
  max-width: 120px;
  width: 25vw;
  max-height: 120px;
  height: 35vh;
  border-radius: 10%;
  border: 5px solid aqua;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 2em;
  transition: all 0.1s;
}
